* {
    box-sizing: border-box;
}  
  body {
    background-color: #0e2441;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;   
    color: #ffe4c4; 
  }  
  /* Style the header */
  .header {
    display: flex; 
    flex-direction: row-reverse;  
    justify-content: space-between;
    align-self: center;    
    padding: 20px 40px;
    margin: 0px;
    background-color: #03061b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .head {
    display: flex;
    margin: 0px;
    /* font-size: 35px; */
  } 
  h5 {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    font-size: 35px;    
    margin: 15px 0 15px 0;    
  }
  .bar {
    display: flex;
    margin: 0px;
    height: auto;
    /* background-color: bisque; */
  }
  .input {
    background-color: #ffe4c4;
    font-size: 16px;
    margin-right: 5px;
    height: 35px;
    width: 200px;
  }
  input.sub {
    background-image: url(/images/cart32x32.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0px 0px;
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    vertical-align: middle;
    /* background-color: #ffe4c4; */
  }
  .ul {
    margin: 0px;
    padding: 0px;
  }
  li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    -webkit-flex: 1;
    -ms-flex: 1;  
    flex: 1; 
    margin: 2px 0 2px 0;
    padding: 12px 8px 12px 40px;
    border: solid black;
    border-width: 0 1px 1px 0 ;
    list-style-type: none;
    transition: 0.2s;
    animation-duration: 2s;
    animation-name: slidein;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  li:nth-child(odd) {
    background-color: #3d546b;
  }
  li:hover {
    background: #3876b4;
  }
  ul li.checked {
    background: rgb(56, 68, 80);
    color: #ffe4c4;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    /* display: flex; */
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 16px; 
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  .close {
    background-color: #8a2be2;
    padding: 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  .close:hover {
    background-color: red;
  }
  /* Style the footer */
  .footer {
    display: flex;
    justify-content: center;
    background-color: #03061b;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    text-align: center;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .footsy {
    text-size-adjust: 1px;
  }
 

  @media screen and (min-width: 900px) {
    .header {
      padding: 10px 250px;
    }
    li {
      padding: 12px 8px 12px 250px;
    }
  }
  /* @media screen and (min-width: 501px) {
    .hFive {
      font-size: 35px;
      margin: 0px;
    }
  } */
  @media screen and (max-width: 500px) {
    .header {
      padding: 20px 40px;
      margin: 0px;
    }
    h5 {
      -ms-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
      font-size: 13px;
      margin: 0px;
    }
    .input {
      width: 175px;
    }
    .footer {
      font-size: 8px;
    }
  } 
